.image-center {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    max-width: 30%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0;
}

main,
footer {
    display: block;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}